<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MMHeader</key>
		<string>123</string>
		<key>MMFooter</key>
		<string>8989</string>
		<key>MMItems</key>
		<array>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>MMHeader</key>
		<string>123</string>
		<key>MMFooter</key>
		<string>8989</string>
		<key>MMItems</key>
		<array>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>MMHeader</key>
		<string>123</string>
		<key>MMFooter</key>
		<string>8989</string>
		<key>MMItems</key>
		<array>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
			<dict>
				<key>MMIcon</key>
				<string>RedeemCode</string>
				<key>MMTitle</key>
				<string>使用兑换码</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
